<template>
  <div class="container">
    <div id="container"></div>
  </div>
</template>

<script>
import * as THREE from 'three'
import $ from 'jquery'
// import { TimelineMax, gsap, CSSPlugin, CSSRulePlugin } from "gsap/all";
// import ScrollMagic from "scrollmagic";
// import "scrollmagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js";
// import { ScrollMagicPluginGsap } from "scrollmagic-plugin-gsap";
// ScrollMagicPluginGsap(ScrollMagic, TimelineMax);
import { GLTFLoader } from 'three/examples/jsm/loaders/GLTFLoader.js'
// import { OrbitControls } from "three/examples/jsm/controls/OrbitControls.js";

export default {
  data () {
    return {
      cube: null,
      renderer: null,
      scene: null,
      camera: null,
      mixer: null,
      clock: new THREE.Clock()
    }
  },
  mounted () {
    this.init()
    this.animate()
  },
  methods: {
    init () {
      const load = this

      load.scene = new THREE.Scene()
      load.scene.transparent = true
      load.camera = new THREE.PerspectiveCamera(
        35,
        window.innerWidth / window.innerHeight,
        1,
        1800
      )

      window.addEventListener('resize', onWindowResize, false)
      function onWindowResize () {
        load.camera.aspect = window.innerWidth / window.innerHeight
        load.camera.updateProjectionMatrix()
        load.renderer.setSize(window.innerWidth, window.innerHeight)
      }

      this.renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true })
      this.renderer.setClearColor(0x000000, 0)
      this.renderer.setSize(window.innerWidth, window.innerHeight)
      this.renderer.setPixelRatio(window.devicePixelRatio / 1)
      const container = document.getElementById('container')
      container.appendChild(load.renderer.domElement)

      const loader2 = new GLTFLoader()

      loader2.load(
        'scene.gltf',
        function (gtlf) {
          load.camera.position.z = 5
          load.camera.position.y = 1

          // load.mixer = new THREE.AnimationMixer(gtlf.scene)
          // console.log(load.mixer)
          // load.mixer.timeScale = 1
          // const clips = gtlf.animations

          // clips.forEach(function (clip) {
          //   load.mixer.clipAction(clip).play()
          // })

          // Color of the model
          const light = new THREE.PointLight(0xFFFFFF, 1.4, 300)
          // const light = new THREE.AmbientLight(0xFFD400, 1)
          light.position.set(-5, 10, 10)
          load.scene.add(light)

          // gtlf.scene.children[0].children[1].material.color = new THREE.Color(0xFFFFFF)
          // gtlf.scene.children[0].children[1].material.roughness = 0
          // gtlf.scene.children[0].children[1].material.metalness = 0.9
          // gtlf.scene.children[0].children[2].material.color = new THREE.Color(0xFFFFFF)
          // gtlf.scene.children[0].children[2].material.roughness = 0
          // gtlf.scene.children[0].children[2].material.reflectivity = 0
          // gtlf.scene.children[0].children[2].material.clearcoat = 1

          console.log(gtlf)
          load.scene.add(gtlf.scene)
        },
        function (xhr) {
          // console.log()
          let paceN = Math.floor((xhr.loaded / xhr.total) * 100)
          paceN = Math.floor((xhr.loaded / xhr.total) * 100)

          console.log(paceN)
          $('.pace-n').html(paceN + '%')
          if (paceN === 100) {
            setTimeout(function () {
              $('.pace').fadeOut()
              setTimeout(function () {
                $('.welcoming').animate({ opacity: 1 }, 700)
              }, 700)
            }, 700)
          }
        },
        undefined,
        function (error) {
          console.error(error)
        }
      )
    },
    animate () {
      // const load = this
      setTimeout(function () {
        // const delta = load.clock.getDelta()
        // load.mixer.update(delta)
      }, 100)
      requestAnimationFrame(this.animate)
      this.renderer.render(this.scene, this.camera)
    },
    destroyed () {
      this.renderer.forceContextLoss()
    }
  }
}
</script>

<style scoped>

</style>
